main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    height: 150vh;
}
.picture{
    background-image: url(head.jpeg);
    background-repeat: no-repeat;
    z-index: -1;
}
.title{
    font-size: 60px;
    width: auto;
    padding: 10px;
    position: absolute;
	left: 30px;
	top: 50px;
}