main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-color: rgb(142, 222, 247);
}
.title{
    width: 220px;
    padding: 10px;
    border: 5px solid rgb(65, 214, 152);
    margin: 0;
}